/* ==== base element styles === */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', Ariel, serif;
    line-height: 1.6;
	  color: #3a3a3a;
    background: rgb(255, 250, 250);
  }

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h3 {
  text-align: center;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

span {
  font-weight: bold;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
  margin: 0;
  text-align: center;
}

.main-nav {
  magin-top: 5px;
  font-size: 90%;
  }

.name a,
.main-nav a {
	text-align: center;
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  background: white;
  margin: 5px 1em;
}

.main-nav a {
	font-size: .95em;
	color: black;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.main-footer a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-footer a:hover {
	color: #093a58;
}


/* ---- Layout Containers ---- */

main {
  background-color: white;
}

.main-header {
  padding-top: 3em;
  padding-bottom: .5em;
}

.banner,
.main-footer {
  text-align: center;
}

.col {
  margin-right: 1em;
  margin-left: 1em;
  text-align: center;
  margin-top: 50px;
}

.col h2 {
  margin: 10px 0px;
}

.col p {
  margin: 15px;
}

.banner {
  padding-top: 20px;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 105%;
  background-color: inherit;
}

.banner-img {
  max-width: 60%;
}

.contact {
  padding-top: 20px;
  margin-top: 50px;
  text-align: center;
  font-size: 0.9em;
  width: auto;
}

.contact-list li {
  padding-top: 5px;
}
/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.port {
  text-transform: uppercase;
}

.col img {
  margin-bottom: 20px;
}

.contact h3 {
  text-transform: uppercase;
  font-weight: bold;
}

/* footer */

.main-footer {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px rgb(155, 155, 155, 30%) solid;
  font-weight: bold;
  font-size: 0.7em;
  max-width: 90%;
}

.footer-nav-320 {
  float: right;
  padding-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-nav-768 {
  display: none;
}

.footer-name {
  float: left;
  padding-top: 1em;
  padding-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* =================================
  Media Queries - 768px screen
==================================== */

@media (min-width: 768px) {

/* Navigation */

.main-nav {
  text-align: center;
}

.main-nav a {
	text-align: center;
  display: inline-block;
  padding: 15px 0px;
  font-weight: bold;
  background: none;
  margin: 5px 1em;
}

.main-nav a {
	font-size: .95em;
	color: black;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.main-nav li {
  display: inline-block;
}

/* layout */

  .col {
    float: left;
    width: 50%;
    margin: 40px auto;
    font-size: 98%;
  }

  .banner {
    float: left;
    font-size: 110%;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-left: 2em;
    padding-bottom: 40px;
  }

  .banner img {
    float: right;
    padding: 20px;
    max-width: 45%;
  }

  .container {
    display: block;
  }

  .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .footer-nav-768 {
    display: contents;
    float: right;
    padding-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
  }

  .footer-nav-768 li {
    display: inline-block;
  }

  .footer-nav-320 {
    display: none;
  }

/* wrappers */

  .main-wrapper {
    display: flex;
    padding-right: 2em;
    padding-left: 2em;
    flex-wrap: wrap;
  }

}

/* elements */

  .contact p {
    max-width: 50%;
    margin: auto;
    font-size: 1em;
  }

  .contact h3 {
    font-size: 0.8em;
  }

/* media query for 1024 px */

@media (min-width: 1024px) {
  .col {
    width: 33%;
    margin: 35px auto;
    font-size: 98%;
  }

  .contact p {
    font-size: 1.1em;
    width: 40%;
  }

  .main-header ul {
    float: right;
  }

  .name {
    float: left;
  }

  .main-header {
    padding-right: 2em;
    padding-left: 2em;
  }

  .main-nav a {
    padding-top: 0px;
  }

  .contact p {
    padding-bottom: 30px;
    padding-top: 10px;
  }

  main {
    margin-right: 2em;
    margin-left: 2em;
  }

}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
